body{
    font-family: "Noto Sans JP";
    color: white;
    background-color: black;
}
    
h1{
    font-size: 30px;
    margin: 8px;
    color: white;
}
h2{
    border: 0;
    font-size: medium;
    margin-top: 0px;
    background: #111;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
    width:max-content;
    margin-right: 5px;
}
.keyword{
    font-size: medium;
    color:white;
    display: block;
    width:256px;
    border-style: none;
    background: #111;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
    
}
.keyword-submit{
    color: white;
    font-size: medium;
    background: rgb(0, 150, 57);
    min-width:80px;
    border-style: none;
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
}
ul, ol {
    padding: 0;
    position: relative;
  }
  ul li, ol li {
    border-left: solid 8px rgb(190, 0, 0);/*左側の線*/
    background: #111;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
  }
  a{
    text-decoration: none;
    color:white;
  }
  summary{
    border-left: solid 8px rgb(0, 119, 255);/*左側の線*/
    background: #111;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
  }
  .sidemenu-link{
    display: inline-block;
    margin-left: 8px;
    border-left: solid 8px rgb(0, 190, 95);/*左側の線*/
    background: #111;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
  }